
RewriteEngine on
RewriteCond %{HTTP_HOST} ^delapotek\.trivenaynpanjaitan\.my\.id$
RewriteRule ^/?$ "https\:\/\/delapotek\.trivenaynpanjaitan\.my\.id\/" [R=301,L]


<IfModule mod_rewrite.c>
 
RewriteEngine On
 
RewriteRule ^(.*)$ public/$1 [L]
 
</IfModule>

